<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		
		<add name="EBDB"
			 connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ElectricityBillDB;User ID=sa;Password=lv8mRF18c1278@"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
	
		<add key="AdminUser" value="admin" />
		<add key="AdminPassword" value="admin123" />
	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<authentication mode="None" />
		<sessionState mode="InProc" timeout="60" />
		<pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />
	</system.web>
</configuration>
